.main-text{
	padding: 5px 0px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 25px;
}

.topic-body {
	color: #949494;
	padding: 5px 0px 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.tag{
	color:#666;
	text-decoration:underline;
	border-radius:5px;
	padding:5px 5px !important;
}

.topic-details{
	border-bottom:1px solid #dadada;
}

.controls {
	width: 170px;
}

.rec-panel {
	/*width: 800px;*/
	border-top: 1px solid #dadada;
}

.rec-panel .alert{
	padding: 6px 20px;
	margin-bottom: auto;
}

.countdown {
	padding: 0px;
	font-size: 25px;
	width: 90px;
	text-align: center;
	color: #a0a0a0;
	background-color: #eaeaea;
	border-radius: 5px;
}

.messages .prompt-first{
    padding: 5px 10px;
    /*background-color: #eaeaea;*/
		margin-bottom: 0px;
    padding: 1;
}

.rec-metadata {
	width: 600px;
}

.rec-panel .control-feedback .info{
	color: #A0A130;
}

.actions-panel {
	border-top: 1px solid #e0e0e0;
}

.votes{
	margin:5px;
}

.audio-options{
	margin:5px 10px;
	width:100px;
}

.text-block{
	border-left:1px solid #eaeaea;
	margin:5px;
	padding:5px 10px;;
}

.response-tags{
	padding:0px 10px;
	/*border-bottom:1px solid #eaeaea;*/
}

.response-actions{
	margin:5px;
	width:50px;
}

.response-actions .btn{
	margin:5px 0px;
}

.response{
	border-bottom:1px solid #eaeaea;
}

.notifications .new{
	color: red;
	font-weight: bold;
}

.response-tags .prompts .add-tags{
	color:#b0b0b0;
}

.project-members .header{
	border-top:1px solid #dadada;
}

textarea{
	border-radius: 3px;
	border-color: #cacaca;
	padding-left:5px;
}

.response-options{
	margin: 5px 10px;
	width: 100px;
}

.topic-details .status{
	border-bottom: 1px solid #dadada;
}
.topic-details .topic-id{
	color: #a0a0a0;
}

.invitee-list .email-id{
	color:#a0a0a0;
	font-size: 12px;
}

.response-tags{
	width: 600px;
}