.main-text{
	font-weight:bold;
	padding: 5px 0px;
	font-size: 18px;
}

.topic-body {
	color: #606060;
	font-size: 15px;
	padding: 5px 0px 10px;
}

.tag{
	color:#666;
	text-decoration:underline;
	border-radius:5px;
	padding:5px 5px !important;
}

.topic-details{
	border-bottom:1px solid #dadada;
}

.controls {
	width: 170px;
}

.rec-panel {
	/*width: 800px;*/
	border-top: 1px solid #dadada;
}

.rec-panel .alert{
	padding: 6px 20px;
	margin-bottom: auto;
}

.countdown {
	padding: 0px;
	font-size: 25px;
	width: 90px;
	text-align: center;
	color: #a0a0a0;
	background-color: #eaeaea;
	border-radius: 5px;
}

.messages .prompt-first{
    padding: 5px 10px;
    background-color: #eaeaea;
    padding: 1;
}

.rec-metadata {
	width: 600px;
}

.rec-panel .control-feedback .info{
	color: #A0A130;
}

.actions-panel {
	border-top: 1px solid #e0e0e0;
}

.votes{
	margin:5px;
}

.audio-options{
	margin:5px 10px;
	width:100px;
}

.text-block{
	border-left:1px solid #eaeaea;
	margin:5px;
	padding:5px 10px;;
}

.response-tags{
	padding:0px 10px;
	/*border-bottom:1px solid #eaeaea;*/
}

.response-actions{
	margin:5px;
	width:50px;
}

.response-actions .btn{
	margin:5px 0px;
}

.response{
	border-bottom:1px solid #eaeaea;
}